<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Color Generator</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header id="main-header" class="main-header">
        <nav class="nav-bar">
            <ul>
              <li class="nav-link--brand-link" id="brand-link"><a href="#home">KR</a></li>
              <li class="nav-link--title" id="title"><a href="{{url_for('upload')}}">Image Color Palette Generator</a></li>
              <li class="nav-link"><a href="#projects">More Projects</a></li>
            </ul>
        </nav>
    </header>
    <section class="container-upload">
        <!-- Image Import -->
        <h6>Please import your picture below</h6>
          <form method = "POST" enctype = "multipart/form-data">
              {{ form.hidden_tag() }}

              {% for error in form.photo.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
              <div class="upload--form">
                  <div class="form">
                      {{ form.photo }}
                  </div>
                  <div class="form_submit">
                        {{ form.submit }}
                  </div>
              </div>
        </form>
    </section>
    <section class="container-image">
    <!--   Color breakdown -->
        {% if file_url %}
        <div class="image-display">
            <img src="{{ file_url }}" style="width: 400px;">
        </div>
        {% endif %}
        <div class="image-color_box">
            {% for color in palette %}
            <div class="color_box" style="background-color:{{color}};">
                <p class="color_palette">{{color}}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>